<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface>
      <mdc-dialog-title>Select a Club</mdc-dialog-title>
      <mdc-dialog-content>
        <mdc-list [avatar]="true" [singleSelection]="true">
          <mdc-list-item
            *ngFor="let club of clubs"
            (click)="onSelectClub(club)"
            cdkInitialFocus
            [selected]="isSelected(club)"
          >
            <img mdcListItemGraphic [src]="club.imageUrl" />{{ club.name }}
          </mdc-list-item>
        </mdc-list>
      </mdc-dialog-content>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
