<mdc-card class="demo-card demo-card--music">
  <mdc-card-primary-action (click)="editClub.emit(club)">
    <div class="demo-card__music-row">
      <div class="club-item">
        <img [src]="club.imageUrl" class="demo-card_media--music proportional-image" />
      </div>
      <div mdcHeadline6 class="club_name_text">{{ club.name }}</div>
    </div>
  </mdc-card-primary-action>
</mdc-card>
