@use "@material/card";
@use "@material/theme";

.proportional-image {
  object-fit: contain;
  width:100%;
  height:100%;
}

.club-item {
  height:66px;
  width:66px;
  margin:5px;
}

.demo-card {
  width:  200px;
  margin: 8px;
}

.demo-card__primary {
  padding: 1rem;
}

.demo-card__title {
  margin: 0;
}

.demo-card--music {
  @include card.shape-radius(16px 3px);
}
.demo-card__music-row {
  display: flex;
  border-top-left-radius: inherit;
  align-items: center;
}

.demo-card__media--music {
  width: 38px;
  border-top-left-radius: inherit;
  padding: 12px;

}
.club_name_text{
  line-height: 110%;
  padding: 2px 8px;

}

