<div class="list-tournaments">
  <app-pure-tournament-card
    *ngFor="let tournament of tournaments"
    [tournament]="tournament"
    (viewTournament)="viewTournament.emit($event)"
  ></app-pure-tournament-card>

  <div *ngIf="loading">
    <div *ngFor="let i of [1, 2, 3, 4, 5, 6]" class="loading-item">
      <span class="glow-checkbox"></span>
      <span class="glow-text"> <span>Loading</span> <span>cool</span> <span>state</span> </span>
    </div>
  </div>
</div>
