.new-contender__title {
  margin: 0;
}
.validation_text{
  color: var(--mdc-theme-error, #b00020);
}

.proportional-image {
  // @include mdc-list-graphic-size_(48px);
  // flex-shrink: 0;
  max-height:48px;
  width:100%;
  height: 100%;
  object-fit:scale-down;
}
