<form [formGroup]="form" id="contenderForm" autocomplete="off" fxLayout fxLayoutGap="20px" (ngSubmit)="onSave()">
  <mdc-card fxFlex.xs="100%" fxFlex="600px" style="padding: 1rem;">
    <mdc-form-field [fluid]="true">
      <mdc-text-field formControlName="name" label="Name" [outlined]="true" required validationMessage="*Required">
      </mdc-text-field>
    </mdc-form-field>
    <mdc-form-field [fluid]="true">
      <mdc-text-field
        formControlName="email"
        label="Email"
        [outlined]="true"
        type="email"
        required
        validationMessage="*Must be a valid email"
      >
      </mdc-text-field>
    </mdc-form-field>
    <mdc-form-field [fluid]="true">
      <mdc-text-field formControlName="confirmEmail" label="repeat Email" [outlined]="true" type="email">
      </mdc-text-field>
      <!-- <mdc-helper-text [validation]="true">
        <span *ngIf="setEmailErrorConfirm()">*Must be a valid email</span>
        <span *ngIf="setMismatchEmailConfirm()">*Must be equal to email</span>
      </mdc-helper-text> -->
    </mdc-form-field>
    <mdc-form-field [fluid]="true">
      <mdc-text-field
        formControlName="archerLicense"
        label="License"
        [outlined]="true"
        required
        validationMessage="*Must be a valid email"
      >
      </mdc-text-field>
    </mdc-form-field>
    <div fxLayout="row" fxLayoutGap="10px" fxLayout="row" fxLayoutGap="10px grid">
      <club-autocomplete [items]="clubs" formControlName="club"></club-autocomplete>
      <div fxFlex="10%">
        <img
          *ngIf="form.controls.club.value"
          mdcSelectIcon
          [src]="form.controls.club.value.imageUrl"
          class="proportional-image"
        />
      </div>
    </div>
    <div mdcHeadline6>Category:</div>
    <mdc-chip-set
      formControlName="category"
      [choice]="true"
      [value]="form.value.category"
      (change)="onCategorySetChange($event)"
    >
      <mdc-chip
        *ngFor="let category of tournament?.categories"
        [selected]="form.value.category.id === category.id"
        [label]="category.division + ' ' + category.archeryClass"
        [value]="category"
      >
      </mdc-chip>
    </mdc-chip-set>
    <div mdcBody2 class="validation_text" *ngIf="form.controls['category'].errors">*Please select a category</div>
    <mdc-card-actions>
      <!-- <button *ngIf="mode === 'update'" mdcDialogButton (click)="onDelete()">delete</button> -->
      <button mdc-button mdcCardAction="button" (click)="onClose()">Cancel</button>
      <button mdc-button mdcCardAction="button" (click)="onSave()" [disabled]="!form?.valid">Register</button>
    </mdc-card-actions>
  </mdc-card>
</form>
