<div class="tournament-panel" fxLayout="column" fxLayoutAlign="start center">
  <h2 mdcHeadline3>Tournaments</h2>
  <pure-tournaments-card-list
    [tournaments]="tournaments"
    isloading="loading"
    (viewTournament)="viewTournament.emit($event)"
  ></pure-tournaments-card-list>
</div>
