<fieldset fxLayout="column" fxLayoutGap="10px" [formGroup]="formGroup" class="container">
  <legend>Subscription</legend>
  <div fxLayout="row" fxLayoutGap="10px" class="full-width">
    <div fxFlex="50%" fxLayout="column">
      <mdc-select
        placeholder="Collection"
        [formControlName]="formControlNames.collection"
        [outlined]="true"
        validationMessage="*Field is required"
      >
        <mdc-menu>
          <mdc-list>
            <mdc-list-item *ngFor="let collection of collections" [value]="collection">
              {{ collection }}
            </mdc-list-item>
          </mdc-list>
        </mdc-menu>
      </mdc-select>
      <!-- <mdc-select-helper-text #collectionHelper [validation]="true">
        <span *ngIf="formGroupErrors?.collection?.required">*Selection is required</span>
      </mdc-select-helper-text> -->
    </div>
    <div fxFlex="50%" fxLayout="column">
      <mdc-select
        placeholder="Action"
        [formControlName]="formControlNames.notificationAction"
        [outlined]="true"
        validationMessage="*Field is required"
      >
        <mdc-menu>
          <mdc-list>
            <mdc-list-item *ngFor="let action of actions" [value]="action">
              {{ action }}
            </mdc-list-item>
          </mdc-list>
        </mdc-menu>
      </mdc-select>
      <!-- <mdc-select-helper-text #actionHelper [validation]="true">
        <span *ngIf="formGroupErrors?.notificationAction?.required">*Selection is required</span>
      </mdc-select-helper-text> -->
    </div>
  </div>
  <mdc-form-field [fluid]="true">
    <mdc-textarea
      label="Filters"
      [formControlName]="formControlNames.filters"
      [rows]="8"
      [outlined]="true"
      required
      validationMessage="*Required"
    ></mdc-textarea>
  </mdc-form-field>
</fieldset>
