<form [formGroup]="formGroup" id="form" autocomplete="off" fxLayout fxLayoutAlign="center center">
  <mdc-card fxFlex.xs="100%" fxFlex="600px" style="padding: 1rem;">
    <h2 mdcHeadline4>{{formGroupValues.id ?  'Edit Club' : 'New Club'}}</h2>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <mdc-file-picker [formControlName]="formControlNames.imageUrl"></mdc-file-picker>
      <mdc-form-field fxLayout="column" fxLayoutAlign="center" [fluid]="true">
        <mdc-text-field label="Name" [outlined]="true" [required]="true" [formControlName]="formControlNames.name"required helper="*Required">
        </mdc-text-field>
      </mdc-form-field>
    </div>
    <mdc-form-field [fluid]="true">
      <mdc-text-field label="Email" [outlined]="true" [formControlName]="formControlNames.mail" type="email"required helper="Must be a valid email">
      </mdc-text-field>
    </mdc-form-field>
    <div>
      <mdc-form-field>
        <mdc-switch [checked]="formGroupValues.location" (change)="onChangeLocation($event)"> </mdc-switch>
        <label>Use Location</label>
      </mdc-form-field>
      <app-geolocation-sub-form
        *ngIf="formGroupValues.location !== null"
        [formControlName]="formControlNames.location"
        country="ES"
      ></app-geolocation-sub-form>
    </div>
    <!-- <pre>{{ formGroupValues | json }}</pre>
    <pre *ngIf="formGroupErrors as errors; else noError" data-errors>{{ errors | json }}</pre>
    <ng-template #noError>
      <span data-no-error>
        Form is valid, no error!
      </span>
    </ng-template> -->
    <mdc-card-actions>
      <div *ngIf="true">
        <button
          mdc-button
          mdcCardAction="button"
          (click)="manualSave()"
          [disabled]="formGroup.invalid || formGroup.disabled || formGroup.pristine"
        >
          {{ formGroupValues.id ? 'save' : 'create' }}
        </button>
      </div>
    </mdc-card-actions>
  </mdc-card>
</form>
