<div fxLayout="column" fxLayoutAlign="start center">
  <h2 mdcHeadline3>Clubs</h2>
  <div style="margin-left: 20px" fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="flex-center">
    <ng-container *ngFor="let club of clubs">
      <app-pure-club-item
        [club]="club"
        fxFlex="0 1 calc(20% - 5px)"
        fxFlex.lt-md="0 1 calc(33.3% - 5px)"
        fxFlex.lt-sm="100%"
        (editClub)="editClub.emit($event)"
      ></app-pure-club-item>
    </ng-container>
  </div>
  <button mdc-fab position="bottomRight" icon="add" (click)="newClub.emit()"></button>
</div>
