@use '@material/image-list';

.standard-image-list {
   @include image-list.aspect(1.5); // Images are 3:2
  @include image-list.standard-columns(8);
}

@media (max-width: 599px) {
  .my-image-list {
    @include image-list.standard-columns(3);
  }
}
