<div >
  <div mdcHeadline6>Lista de Inscritos</div>
  <mdc-data-table>
    <table mdcDataTableTable class="contenders_table">
      <thead>
        <tr mdcDataTableHeaderRow>
          <th mdcDataTableHeaderCell>Nombre</th>
          <th mdcDataTableHeaderCell>Licencia</th>
          <th mdcDataTableHeaderCell >Club</th>
          <th mdcDataTableHeaderCell ></th>
          <th mdcDataTableHeaderCell >Categoría</th>
        </tr>
      </thead>
      <tbody mdcDataTableContent >
        <tr mdcDataTableRow *ngFor="let contender of contenders">
          <td mdcDataTableCell>{{contender.name}}</td>
          <td mdcDataTableCell>{{contender.archerLicense}}</td>
          <td mdcDataTableCell>
            {{contender.club.name}}
          </td>
          <td mdcDataTableCell >
            <img  [src]="contender.club.imageUrl" />
          </td>
          <td mdcDataTableCell>{{contender.category.division}} {{contender.category.archeryClass}}</td>
        </tr>
      </tbody>
    </table>
  </mdc-data-table>
</div>
