@use '@material/typography';
@use "@material/shape";
@use "@material/top-app-bar/mixins" as top-app-bar;
@use "@material/theme";

//
// Row
//

.app-layout__row {
  display: flex;
  flex-flow: row wrap;
  margin-top: .8rem;
}

.app-layout__row--no-wrap {
  display: flex;
  flex-direction: row;
}

//
// Column
//

.app-layout__column {
  display: flex;
  flex-direction: column;
}

//
// Modifiers
//

.app-layout--start {
  align-self: flex-start;
}

.app-layout--end {
  flex-grow: 1;
  align-self: flex-end;
}

.app-layout--center {
  display: flex;
  align-content: flex-end;
  align-items: center;
  justify-content: center;
}

//
// Containers
//

.app-panel {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.app-panel-section {
  width: 100%;
  max-width: 100%;
}

.app-panel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  max-width: 100%;
  width: 100%;
  overflow: auto;

  @media (max-width: 900px) {
    width: unset;
    padding: 12px;
  }
}

.app-panel-transition {
  width: 100%;
  max-width: 900px;
  padding-bottom: 60px;
}

.app-panel-title {
  @include typography.typography(headline4);

  margin: 16px 16px 16px 0;
  line-height: 1.25;
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
  font-weight: 500;
}

.app-panel-heading {
  @include typography.typography(headline6);

  margin: 24px 16px 16px 0;
  line-height: 1.25;
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
}

.app-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 200px;
  padding: 10px;
}

.app-content {
  @include shape.radius(12px);

  border: 1px solid rgba(0, 0, 0, .15);
  margin: 1.5rem 1rem;
  padding: 1rem;

  &__headline {
    @include typography.typography(headline6);

    margin-top: .1em;
    margin-bottom: .3em;
  }
}

//
// Demo top-app-bar
//

.app-top-app-bar {
  @include top-app-bar.fill-color(#363640);

  // only apply this style if below top app bar
  z-index: 7;
}

//
// Demo drawer
//

.app-drawer {
  position: fixed;

  .mdc-list-item {
    cursor: pointer;
  }
}
