@use '@material/top-app-bar/_index' as top-app-bar;
@use '@material/tab/_index' as tab;
@use '@material/tab-indicator/_index' as tab-indicator;
@use '@material/ripple/_index' as ripple;
@use '@material/theme/color-palette' as material-color;
@use '@material/theme';

.app-app-bar-content {
  padding-left: 16px;
  padding-right: 16px;
  overflow: auto;
  height: 200px;
}

.app-top-app-bar-themed {
  @include top-app-bar.fill-color(material-color.$yellow-800);
  @include top-app-bar.icon-ink-color(material-color.$blue-900)
}

.app-top-app-bar-with-tabs {
  @include top-app-bar.fill-color(theme.$secondary);

  .mdc-tab-bar {
    margin-top: 1em;

    @media (max-width: 599px) {
      margin-top: .5em;
    }

    .mdc-tab {
      @include tab.text-label-color(on-primary);
      @include tab.icon-color(on-primary);
    }

    .mdc-tab__ripple {
      @include ripple.states(material-color.$blue-700);
    }

    .mdc-tab-indicator {
      @include tab-indicator.underline-color(material-color.$blue-700);
      @include tab-indicator.underline-height(3px);
    }
  }
}

.app-drawer-app-content {
  border: 1px solid rgba(0, 0, 0, .15);
  min-height: 16.7rem;
  overflow: hidden;
  position: relative;
}

.app-top-app-bar-container {
  border: 1px solid rgba(0, 0, 0, .15);
  max-height: 16.7rem;
  overflow: auto;
}
