@use './button';
@use './top-app-bar';


fieldset {
  border: 1px solid grey;
  border-radius: 5px;

  &.ng-invalid {
    border-color:var(--mdc-theme-error, #b00020);
  }

  legend {
    padding: 0 5px;
    color: grey;
  }
}

.not-visible {
  visibility: hidden;
}
