quill-editor {
  display: block;

  &.focus{
    .ql-toolbar.ql-snow {
      border-color: var(--mdc-theme-primary, #00769b);
      border-width: 2px;
    }
    .ql-container.ql-snow {
      border-color: var(--mdc-theme-primary, #00769b);
      border-width: 2px;
    }
  }
  &.ng-invalid.ng-dirty {
    .ql-toolbar.ql-snow {
      border-color: var(--mdc-theme-error, #b00020);
    }
    .ql-container.ql-snow {
      border-color: var(--mdc-theme-error, #b00020);
    }
  }

}

.ql-toolbar.ql-snow {
  border-radius: 4px 4px 0px 0px !important;

}

.ql-container.ql-snow {
  border-radius: 0px 0px 4px 4px !important;
}
