<mdc-autocomplete (selectedItem)="onChange($event)" [filteredItems]="searchOptions" [filteredFn]="filteredFn">
  <mdc-text-field
    #query
    (keyup.enter)="onEnterPress(query)"
    (input)="onFieldChange($event)"
    label="Search Address"
    [outlined]="true"
  >
    <mdc-icon mdcTextFieldIcon leading>search</mdc-icon>
    <mdc-icon *ngIf="query.value" mdcTextFieldIcon trailing (click)="clearQuery()">clear</mdc-icon>
  </mdc-text-field>
  <mdc-menu>
    <mdc-list>
      <mdc-list-item *ngFor="let option of searchOptions | async" [value]="option">
        <mdc-icon mdcListItemGraphic>{{ getIcon(option.data.layer) }}</mdc-icon>
        {{ option.fullAddress }}
      </mdc-list-item>
    </mdc-list>
  </mdc-menu>
</mdc-autocomplete>
