<form [formGroup]="formGroup"autocomplete="off" fxLayout fxLayoutGap="20px" fxLayoutAlign="center center" >
  <mdc-card fxFlex.lt-md="600px" fxFlex.xs="100%" fxFlex="800px" style="padding: 1rem;">
    <h2 mdcHeadline4>{{ formGroupValues.id ? 'Edit Mailer' : 'New Mailer' }}</h2>
    <mdc-form-field [fluid]="true">
      <mdc-text-field
        [formControlName]="formControlNames.description"
        label="Description"
        [outlined]="true"
        required
        validationMessage="*Required"
      ></mdc-text-field>
    </mdc-form-field>
    <div fxLayout="row" fxLayoutGap="10px">
      <mdc-form-field fxFlex="30" [fluid]="true">
        <mdc-text-field
          [formControlName]="formControlNames.masterCollection"
          label="Object Type"
          [outlined]="true"
          required
          validationMessage="*Required"
        ></mdc-text-field>
      </mdc-form-field>
      <mdc-form-field fxFlex="70" [fluid]="true">
        <mdc-text-field
          [formControlName]="formControlNames.masterId"
          label="Master Id"
          [outlined]="true"
          required
          validationMessage="*Required"
        ></mdc-text-field>
      </mdc-form-field>
    </div>
    <app-mailer-mail-template-subform
      [formControlName]="formControlNames.mailTemplate"
    ></app-mailer-mail-template-subform>
    <app-mailer-subscription-subform
      [formControlName]="formControlNames.subscription"
      [collections]="collections"
      [actions]="actions"
      [types]="types"
    ></app-mailer-subscription-subform>
    <mdc-card-actions>
      <button
        mdc-button
        mdcCardAction="button"
        (click)="manualSave()"
        [disabled]="formGroup.invalid || formGroup.disabled"
      >
        Save
      </button>
      <button mdc-button mdcCardAction="button" (click)="onSelectTemplate()">Use Template</button>
    </mdc-card-actions>
  </mdc-card>
</form>
