<div fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="item" class="image-preview">
    <img [src]="item" (click)="this.onSelectImage()" />
  </div>
  <div>
    <button mdc-button [outlined]="true" type="button" (click)="this.onSelectImage()">
      {{ buttonCaption }}
    </button>
  </div>
</div>
