<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface>
      <mdc-dialog-title>Select Mailer Template</mdc-dialog-title>
      <mdc-dialog-content>
        <mdc-list [singleSelection]="true">
          <mdc-list-item
            *ngFor="let template of templates"
            (click)="onSelectTemplate(template)"
            cdkInitialFocus
          >
          {{template.description}}
          </mdc-list-item>
        </mdc-list>
      </mdc-dialog-content>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
