<form [formGroup]="formGroup" id="form" autocomplete="off" fxLayout fxLayoutGap="20px" fxLayoutAlign="center center">
  <mdc-card fxFlex.lt-md="600px" fxFlex.xs="100%" fxFlex="800px" style="padding: 1rem;">
    <h2 mdcHeadline4>{{ formGroupValues.id ? 'Edit Tournament' : 'New Tournament' }}</h2>
    <mdc-form-field [fluid]="true">
      <mdc-text-field
        [formControlName]="formControlNames.description"
        label="Title"
        [outlined]="true"
        required
        validationMessage="*Required"
      >
      </mdc-text-field>
    </mdc-form-field>
    <div>
      <div mdcHeadline6>Description</div>
      <div style="margin-bottom: 20px;">
        <quill-editor
          [styles]="{ height: '200px' }"
          (onFocus)="editorFocused = $event"
          (onBlur)="editorFocused = false"
          [class.focus]="editorFocused"
          [formControlName]="formControlNames.longDescription"
        >
        </quill-editor>
      </div>
    </div>
    <div style="margin-top: 20px" fxLayout="row" fxLayoutGap="10px">
      <mdc-form-field >
        <mdc-text-field
          type="datetime-local"
          [formControlName]="formControlNames.date"
          label="Date"
          [outlined]="true"
          required
          validationMessage="*Required"
        >
        </mdc-text-field>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-text-field outlined label="Price" type="number" suffix="€"></mdc-text-field>
      </mdc-form-field>
    </div>
    <categories-autocomplete
      [items]="allCategories"
      [formControlName]="formControlNames.categories"
      style="margin-bottom: 20px"
    ></categories-autocomplete>
    <div style="margin-top: 20px" fxLayout="row" fxLayoutGap="10px grid">
      <mdc-file-picker [formControlName]="formControlNames.iconUrl" buttonCaption="Pick Icon"></mdc-file-picker>
      <mdc-file-picker [formControlName]="formControlNames.imageUrl" buttonCaption="Pick Image"></mdc-file-picker>
    </div>
    <div style="margin-top: 20px" fxLayout="row" fxLayoutGap="10px">
      <club-autocomplete
        fxFlex="90"
        [items]="clubs"
        [formControlName]="formControlNames.hostingClub"
      ></club-autocomplete>
      <div fxFlex="10">
        <img
          *ngIf="formGroupValues.hostingClub"
          mdcSelectIcon
          [src]="formGroupValues.hostingClub?.imageUrl"
          class="proportional-image"
        />
      </div>
    </div>
    <div style="margin-top: 20px" fxLayoutGap="10px">
      <mdc-form-field>
        <mdc-switch [checked]="formGroupValues.location" (change)="onChangeLocation($event)"> </mdc-switch>
        <label>Use Location</label>
      </mdc-form-field>
      <app-geolocation-sub-form
        *ngIf="formGroupValues.location !== null"
        [formControlName]="formControlNames.location"
        country="ES"
      ></app-geolocation-sub-form>
    </div>
    <div fxLayout="row" fxLayoutAlign="near center">
      <div mdcHeadline6>Mailers</div>
      <button *ngIf="formGroupValues.id" mdc-button (click)="addMailer.emit()">
        <mdc-icon>add</mdc-icon>
      </button>
    </div>
    <div mdcBody1 *ngIf="!formGroupValues.id">(Save to enable)</div>
    <mdc-list avatar class="demo-list--custom">
      <!-- (selectionChange)="editMailer.emit($event)" -->
      <mdc-list-item *ngFor="let mailer of formGroupValues.mailing; let i = index">
        <mdc-icon mdcListItemGraphic>insert_drive_file</mdc-icon>{{ mailer.description }}
        <mdc-icon mdcListItemMeta aria-label="Edit" title="Edit" (click)="editMailer.emit(mailer)"
          >edit</mdc-icon
        >
      </mdc-list-item>
    </mdc-list>
    <div fxLayout="row" fxLayoutAlign="near center">
      <div mdcHeadline6>Files</div>
      <button *ngIf="formGroupValues.id" mdc-button (click)="onAddFile()">
        <mdc-icon>add</mdc-icon>
      </button>
    </div>
    <div mdcBody1 *ngIf="!formGroupValues.id">(Save to enable)</div>
    <mdc-list avatar class="demo-list--custom" (selectionChange)="onEditFile($event)">
      <mdc-list-item *ngFor="let file of formGroupValues.files; let i = index">
        <mdc-icon mdcListItemGraphic>insert_drive_file</mdc-icon>{{ file.name }}
        <mdc-icon mdcListItemMeta aria-label="Delete" title="Delete" (click)="onDeleteFile(file, i)">delete</mdc-icon>
      </mdc-list-item>
    </mdc-list>
    <!-- <pre>{{ formGroupValues | json }}</pre>
    <pre *ngIf="formGroupErrors as errors; else noError" data-errors>{{ errors | json }}</pre>
    <ng-template #noError>
      <span data-no-error>
        Form is valid, no error!
      </span>
    </ng-template> -->
    <mdc-card-actions>
      <div *ngIf="true">
        <button
          mdc-button
          mdcCardAction="button"
          (click)="manualSave()"
          [disabled]="formGroup.invalid || formGroup.disabled || formGroup.pristine"
        >
          {{ formGroupValues.id ? 'save' : 'create' }}
        </button>
      </div>
    </mdc-card-actions>
  </mdc-card>
</form>
