@use '@material/textfield/_index' as textfield;
@use '@material/form-field/_index' as form-field;

.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.proportional-image {
  max-height:48px;
  width:100%;
  height: 100%;
  object-fit:scale-down;
}

::ng-deep .cdk-overlay-container {
  /* Do you changes here */
  position: fixed;
  z-index: 1000;
}
