<div flexLayout="column">
<button mdc-button primary (click)="onUpdateDbSchema()">Update Schema</button>
<button mdc-button primary (click)="onUpdateDbData()">Fill data</button>
<button mdc-button primary (click)="onUploadFile()">Upload File</button>
<button mdc-button primary (click)="onAddClub()">Add Club</button>
</div>
