<mdc-autocomplete
  (selectedItem)="onSelectItem($event)"
  [filteredItems]="filteredClubs"
  [filteredFn]="filteredFn"
  [openOnClick]="true"
>
  <mdc-text-field
    #query
    (keyup.enter)="onEnterPress(query.value)"
    (input)="onFieldChange($event)"
    label="Club"
    [outlined]="true"
  >
  <mdc-icon *ngIf="query.value" mdcTextFieldIcon trailing (click)="clearQuery()">clear</mdc-icon>
</mdc-text-field>
  <mdc-menu>
    <mdc-list [avatar]="true">
      <mdc-list-item *ngFor="let club of filteredClubs | async" [value]="club">
        <img mdcListItemGraphic [src]="club.imageUrl" />{{ club.name }}
      </mdc-list-item>
    </mdc-list>
  </mdc-menu>
</mdc-autocomplete>
