<mdc-drawer drawer="modal" #drawer>
  <mdc-drawer-header title="Archery Annotation"></mdc-drawer-header>

  <mdc-drawer-content>
    <app-sidenav-list (closeSidenav)="drawer.open = false"></app-sidenav-list>
  </mdc-drawer-content>
</mdc-drawer>
<app-header (sidenavToggle)="drawer.open = !drawer.open"></app-header>>
<div class="demo-drawer-app-content">
  <main mdcTopAppBarFixedAdjust mdcDrawerAppContent>
    <router-outlet></router-outlet>
  </main>
</div>

