<mdc-card  class="demo-card" [mdcElevation]="10">
  <mdc-card-primary-action>
    <div class="demo-card__primary">
      <h2 class="demo-card__title" mdcHeadline6>{{tournament.description}}</h2>
    </div>
    <mdc-card-media class="demo-card__media--16-9" [wide]="true" [ngStyle]="{ 'background-image': 'url(' + tournament.iconUrl + ')'}"></mdc-card-media>
    <div class="demo-card__secondary" mdcBody2>
      {{tournament.longDescription}}
    </div>
  </mdc-card-primary-action>
  <mdc-card-actions>
    <mdc-card-action-buttons>
      <button class="viewBtn" mdc-button mdcCardAction="button" (click)="onView(tournament.id)" >view</button>
      <button mdc-button mdcCardAction="button" (click)="onDelete(tournament.id)">Delete</button>
    </mdc-card-action-buttons>
  </mdc-card-actions>
</mdc-card>
