//@use 'app';

.demo-card {
  width: 350px;
  margin: 28px;
}

.demo-card__primary {
  padding: 1rem;
}

.demo-card__title {
  margin: 0;
}

.demo-card__subtitle {

  //@include mdc-theme-prop(color, text-secondary-on-background);

  margin: 0;
}

