<div class="tournament" fxLayout="row" fxLayoutAlign="start start">
  <img [src]="tournament.iconUrl" class="detailImageContainer" />
  <div fxLayout="column">
    <div mdcHeadline4>{{ tournament.description }}</div>
    <div mdcBody1>{{ tournament.longDescription }}</div>
    <div class="oneLineField">
      <div mdcHeadline6>Fecha:</div>
      <div mdcBody1>{{ tournament.date | date: 'short' }}</div>
    </div>
    <div *ngIf="(show$ | async)">
      <div class="oneLineField">
        <div mdcHeadline6>Ubicacion:</div>
        <div mdcBody1>{{ tournament.location.description }}</div>
      </div>
      <div  class="leafletStyle"
          leaflet [leafletOptions]="options"
          (leafletMapReady)="onMapReady($event)"
          >
        <div [leafletLayer]="marker"></div>
      </div>
    </div>
    <div class="oneLineField">
      <div mdcHeadline6>Precio:</div>
      <div mdcBody1>{{ tournament.price | currency:'EUR': 'symbol' }}</div>
    </div>
    <div mdcHeadline6>Categorias:</div>
    <mdc-chip-set>
      <mdc-chip *ngFor="let category of tournament.categories" [label]="category.id" [title]="category.division + ' ' + category.archeryClass "></mdc-chip>
    </mdc-chip-set>
    <button mdc-button unelevated (click)="register.emit(tournament)">Inscribirme</button>
  </div>
</div>
