<div fxLayout="row" >
  <mdc-autocomplete
  placeholder="Add Category..."
  (selectedItem)="onSelectItem($event)"
  [filteredItems]="filteredCategories"
  [filteredFn] = "filteredFn"
  [openOnClick]="true"
  >
    <mdc-text-field #query
    (keyup.enter)="onEnterPress(query.value)"
    (focus)="onFocus($event)"
    (input)="onFieldChange($event)"
    label="Search Category..."
    [outlined]="true" placeholder="Search Category...">
    <mdc-icon *ngIf="query.value" mdcTextFieldIcon trailing (click)="clearQuery()">clear</mdc-icon>
  </mdc-text-field>
    <mdc-menu>
      <mdc-list [avatar]="true">
        <mdc-list-item *ngFor="let category of filteredCategories | async" [value]="category">
          {{filteredFn(category)}}
        </mdc-list-item>
      </mdc-list>
    </mdc-menu>
  </mdc-autocomplete>
  <mdc-chip-set input *ngIf="selected.length > 0">
      <mdc-chip
      *ngFor="let category of selected"
      [label]="category.id"
      [title]="category.division + ' ' + category.archeryClass"
      (removalEvent)="removeCategory(category)"
      >
      <mdc-chip-icon [trailing]="true">cancel</mdc-chip-icon>
    </mdc-chip>
  </mdc-chip-set>
</div>

