<!-- <h1 mat-dialog-title>Mailer Config</h1>
<form [formGroup]="form" novalidate (ngSubmit)="onSave()" fxLayout="column" fxLayoutGap="10px grid">
  <mat-dialog-content>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>
    <div>
      <a [href]="file.url">{{file.url}}</a>
    </div>
    <div>
    <button *ngIf="!(file.url !== '')" mat-button type="button" (click)="this.onSelectFile()">
      Pick File
    </button>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">Submit</button>
    <button mat-raised-button color="primary" type="button" (click)="onClose()">Cancel</button>
  </mat-dialog-actions>
</form> -->
