<fieldset [formGroup]="formGroup" x>
  <legend mdcSubtitle1>Geo Position</legend>
  <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="10px">
    <div
      fxFlex="50"
      class="leafletStyle"
      leaflet
      [leafletOptions]="options"
      (leafletClick)="onMapClick($event)"
      [leafletLayers]="markers"
      [(leafletCenter)]="center"
      [(leafletZoom)]="zoom"
      (leafletMapReady)="onMapReady($event)"
    ></div>
    <div fxFlex="50" fxLayout="column" fxLayoutGap="10px" >
      <mdc-form-field [fluid]="true">
        <mdc-text-field
          label="Description"
          [outlined]="true"
          [required]="true"
          [formControlName]="formControlNames.description"
        >
          >
        </mdc-text-field>
      </mdc-form-field>
      <div fxLayout="row" fxLayoutGap="10px">
        <mdc-form-field [fluid]="true">
          <mdc-text-field [label]="streetNameLabel" [outlined]="true" [formControlName]="formControlNames.streetName">
          </mdc-text-field>
        </mdc-form-field>
        <mdc-form-field fxFlex="20" [fluid]="true">
          <mdc-text-field
            [label]="streetNumberLabel"
            [outlined]="true"
            [formControlName]="formControlNames.streetNumber"
          >
          </mdc-text-field>
        </mdc-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <mdc-form-field fxFlex="auto" [fluid]="true">
          <mdc-text-field [label]="localityLabel" [outlined]="true" [formControlName]="formControlNames.city">
          </mdc-text-field>
        </mdc-form-field>
        <mdc-form-field fxFlex="auto" [fluid]="true">
          <mdc-text-field [label]="regionLabel" [outlined]="true" [formControlName]="formControlNames.region">
          </mdc-text-field>
        </mdc-form-field>
        <mdc-form-field fxFlex="20" [fluid]="true">
          <mdc-text-field [label]="postalCodeLabel" [outlined]="true" [formControlName]="formControlNames.postalCode">
          </mdc-text-field>
        </mdc-form-field>
      </div>
    </div>
  </div>
</fieldset>
