<fieldset fxLayout="column" fxLayoutGap="10px" [formGroup]="formGroup" class="container">
  <legend>Mail Template</legend>
  <mdc-form-field [fluid]="true">
    <mdc-text-field
      [formControlName]="formControlNames.from"
      label="From"
      [outlined]="true"
      required
      validationMessage="*Required"
    ></mdc-text-field>
  </mdc-form-field>
  <mdc-form-field [fluid]="true">
    <mdc-text-field
      label="To"
      [formControlName]="formControlNames.to"
      [outlined]="true"
      required
      validationMessage="*Required"
    ></mdc-text-field>
  </mdc-form-field>
  <mdc-form-field [fluid]="true">
    <mdc-text-field
      label="Subject"
      [formControlName]="formControlNames.subject"
      [outlined]="true"
      required
      validationMessage="*Required"
    ></mdc-text-field>
  </mdc-form-field>
  <mdc-form-field [fluid]="true">
    <mdc-textarea
      label="Body"
      [formControlName]="formControlNames.body"
      [rows]="8"
      [outlined]="true"
      required
      validationMessage="*Required"
    ></mdc-textarea>
  </mdc-form-field>
</fieldset>
