<div>
  <mdc-location-autocomplete
    (locationChange)="selectedItem($event)"
    [country]="country"
    [(item)]="itemText">
  </mdc-location-autocomplete>
  <form [formGroup]="addressFormGroup" fxLayout="column" fxLayoutGap="10px" style="margin-top: 20px;">
    <div fxLayout="row" fxLayoutGap="10px">
      <mdc-form-field [fluid]="true">
        <mdc-text-field [label]="streetNameLabel" [outlined]="true" [required]="true" formControlName="streetName" required helper="*Required">
        </mdc-text-field>
      </mdc-form-field>
      <mdc-form-field fxFlex="20" [fluid]="true">
        <mdc-text-field [label]="streetNumberLabel" [outlined]="true" [required]="true" formControlName="streetNumber" required helper="*Required">
        </mdc-text-field>
      </mdc-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <mdc-form-field fxFlex="auto" [fluid]="true">
        <mdc-text-field [label]="localityLabel" [outlined]="true" [required]="true" formControlName="city"required helper="*Required">
        </mdc-text-field>
      </mdc-form-field>
      <mdc-form-field fxFlex="auto" [fluid]="true">
        <mdc-text-field [label]="regionLabel" [outlined]="true" [required]="true" formControlName="region"required helper="*Required">
        </mdc-text-field>
      </mdc-form-field>
      <mdc-form-field fxFlex="20" [fluid]="true">
        <mdc-text-field [label]="postalCodeLabel" [outlined]="true" [required]="true" formControlName="postalCode"required helper="*Required">
        </mdc-text-field>
      </mdc-form-field>
    </div>
  </form>
  <div
    class="leafletStyle"
    leaflet
    [leafletOptions]="options"
    (leafletMapReady)="onMapReady($event)"
    (leafletClick)="onMapClick($event)"
    [leafletLayers]="markers"
    [(leafletCenter)]="center"
  >
    <!-- <div [leafletLayer]="marker"></div> -->
  </div>
</div>
