<form [formGroup]="form" id="locationForm" autocomplete="off" fxLayout="column" fxLayoutGap="10px grid">
  <mdc-search-location-autocomplete >

  </mdc-search-location-autocomplete>
  <mdc-card class="location-card">

  </mdc-card>
</form>
