@use '@material/dialog/mdc-dialog';
//@use '@material/dialog';
// @use '@material/image-list/mdc-image-list';
// @use '@material/image-list';

// .dialog {
//   @include mdc-dialog-min-width(400px)
// }
.proportional-image {
    object-fit: contain;
    width:60px;
    height:60px;
    // width:100%;
    // height:100%;
}

// .image-list {
//   @include mdc-image-list-standard-columns(5);
// }

// @media (max-width: 599px) {
//   .image-list {
//     @include mdc-image-list-standard-columns(3);
//   }
// }
