<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface>
      <mdc-dialog-title >Pick Image</mdc-dialog-title>
      <mdc-dialog-content>
        <mdc-image-list  class="image-list" [textProtection]="false">
              <mdc-image-list-item style=" margin:5px;"  *ngFor="let filePath of (filesPath$ | async)" (click) = "selectFile(filePath)">
                  <img mdcImageListImage [src]="filePath" class="proportional-image"/>
              </mdc-image-list-item>
          </mdc-image-list>
      </mdc-dialog-content>
      <mdc-dialog-actions>
          <button mdcDialogButton (click)="upload()">Upload new...</button>
        </mdc-dialog-actions>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
