<div class="tournament">
    <app-pure-tournament
        [tournament]="(tournament$ | async)"
        (register)="onRegister($event)"
        >
    </app-pure-tournament>
    <app-pure-contenders [contenders]="(contenders$ | async)"></app-pure-contenders>
</div>

